APP_NAME="App"
APP_URL="http://localhost"
APP_SECRET=
APP_DEBUG=true
APP_ENV=dev
APP_VERSION="1.0.0"

# database
DB_HOST=localhost
DB_PORT=3306
DB_USER=mysqluser
DB_PASS=
DB_NAME=app

# smtp
SMTP_EMAIL="example@gmail.com"
SMTP_PASSWORD=
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587

# jwt
# -1 mean never expired
JWT_SECRET=
JWT_EXP=60

# payment
MIDTRANS_MERCHANT_ID=
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=